---
# Create symlink: {{item.link}} => {{item.target}}
- name: "Ensure target folder exists: {{item.target}}"
  when: "'create_target_as_folder' is not in item"
  file:
    path: "{{item.target}}"
    state: directory

- name: "Check if link already exists: {{item.link}}"
  stat:
    path: "{{item.link}}"
  register: link_stat

- name: "Remove existing link if it is a symlink: {{item.link}}"
  when: link_stat.stat.exists and link_stat.stat.islnk
  file:
    path: "{{item.link}}"
    state: absent

- name: "Backup existing file: {{item.link}}"
  when: link_stat.stat.exists and not link_stat.stat.islnk
  command: 'mv {{item.link}} {{item.link}}.bak'

- name: "Create symlink: {{item.link}} => {{item.target}}"
  block:
    - name: "Create symlink without sudo: {{item.link}} => {{item.target}}"
      become: false
      file:
        src: "{{item.target}}"
        dest: "{{item.link}}"
        state: link
  rescue:
    - name: "Create symlink with sudo: {{item.link}} => {{item.target}}"
      become: true
      file:
        src: "{{item.target}}"
        dest: "{{item.link}}"
        state: link
