[user]
	email = r12f.code@gmail.com
	name = r12f
[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = cache --timeout=2592000
[pull]
	ff = only
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://github.com"]
	helper = 
	helper = !/Users/r12f/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/Users/r12f/bin/gh auth git-credential
