[user]
	email = r12f.code@gmail.com
	name = r12f
[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = cache --timeout=2592000
[pull]
	ff = only
[credential "https://dev.azure.com"]
	useHttpPath = true
