---
- name: Enable IPv4 IP forwarding
  tags: natgw
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: yes

- name: Update IPTable rules for NATing between interfaces
  tags: natgw
  include_tasks:
    file: roles/utils/net/tasks/create-nat-gateway.yaml
    apply: { tags: [ "natgw" ] }
  loop: "{{ gateway.subnets }}"
  when: "{{ item.if_external is defined }}"