services:
  frps:
    image: snowdreamtech/frps
    container_name: frps
    user: "{{ docker_service_user_id }}"
    ports:
      - {{ frps.port }}:{{ frps.port }}
    restart: unless-stopped
    volumes:
      - {{ svc_data_dir }}/frps/config/frps.toml:/etc/frp/frps.toml