services:
  cadvisor:
{% if location == "mainland" %}
    image: m.daocloud.io/k8s.gcr.io/cadvisor/cadvisor
{% else %}
    image: k8s.gcr.io/cadvisor/cadvisor
{% endif %}
    container_name: cadvisor
    restart: unless-stopped
    command:
      - '--housekeeping_interval=55s'
      - '--docker_only'
    ports:
      - 127.0.0.1:8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro