services:
  telstore:
    image: pocat/naiveproxy
    container_name: naiveproxy
    user: {{ ansible_user_id }}
    environment:
      - PATH=/etc/naiveproxy/Caddyfile
    ports:
      - {{ caddy.port }}:{{ caddy.port }}
    restart: unless-stopped
    volumes:
      - {{ svc_data_dir }}/naiveproxy/config:/etc/naiveproxy
      - {{ svc_data_dir }}/naiveproxy/data/html:/var/www/html
      - /var/log/caddy:/var/log/caddy 