---
- hosts: '{{ targets | default("all") }}'
  become: true
  gather_facts: true
  tasks:
    # Tasks for all devices
    - import_role:
        name: device-common
    
    # Tasks for dev devices only
    - import_role:
        name: device-dev
      when: "host_roles is contains('dev')"

    # Tasks for iot devices only
    - import_role:
        name: device-iot
      when: "host_roles is contains('iot') or host_roles is contains('dev-iot')"

    # Tasks for watchdog devices only
    - import_role:
        name: device-watchdog
      when: "host_roles is contains('watchdog')"