---
- name: Install basic tools
  tags: [ package, package-basic ]
  package:
    name:
      - bash-completion
      - git
      - curl
      - wget
      - vim
      - jq
      - zip
      - unzip
      - lsof
      - htop
      - iotop
      - strace
      - lm-sensors
      - uuid
      - tree
      - hwloc
      - minicom
      - setserial
      - tio
      - stress-ng
      - ntp

- name: Install debian specific tools
  tags: [ package, package-basic ]
  when: ansible_facts["distribution"] | lower == "debian"
  package:
    name:
      - yq
      - btop
  ignore_errors: true

- name: Install ubuntu specific tools from snap
  tags: [ package, package-basic ]
  when: ansible_facts["distribution"] | lower == "ubuntu"
  community.general.snap:
    name:
      - yq
      - btop
  ignore_errors: true

- name: Install network tools
  tags: [ package, package-basic ]
  package:
    name:
      - iftop
      - iperf
      - net-tools
      - ethtool
      - bridge-utils
      - nmap
      - tcpdump
      - tshark
      - traceroute
      - iptables
      - iptables-persistent
