---
- name: Ensure service root folders exist
  become: false
  tags: always
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ svc_dir }}"
    - "{{ svc_services_dir }}"
    - "{{ svc_data_dir }}"

- name: Install services to docker
  tags: always
  include_tasks:
    file: install-service.yaml
    apply: { tags: [ "always" ] }
  loop: "{{ services }}"
  loop_control:
    loop_var: service

- name: Create docker compose file
  tags: always
  become: false
  template:
    src: templates/compose.yaml.j2
    dest: "{{ svc_dir }}/compose.yaml"
    mode: 0644

- name: Stop all services
  tags: always
  become: false
  shell: |
    docker compose --project-directory "{{ svc_dir }}" down

- name: Start all services
  tags: always
  become: false
  shell: |
    docker compose --project-directory "{{ svc_dir }}" up -d