---
- import_tasks: init.yaml

- import_tasks: add-telstore.yaml
  when: "docker_services is contains('telemetry-store')"

- import_tasks: add-grafana.yaml
  when: "docker_services is contains('telemetry-store')"

- import_tasks: add-cloudflared-telemetry.yaml
  when: "docker_services is contains('telemetry-store')"

- import_tasks: add-mqtt.yaml
  when: "docker_services is contains('mqtt')"

- import_tasks: add-naiveproxy.yaml
  when: "docker_services is contains('np')"

- import_tasks: install-services.yaml