# All machines
all:
  vars:
    # Ansible connection settings
    ansible_connection: ssh
    ansible_port: 12345
    ansible_ssh_user: r12f
    ansible_ssh_common_args: "-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"

    # Device network settings
    desired_ssh_port: 12345
    wifi_ssid: WIFI_SSID
  
  children:
    # All machines
    fleet:
      hosts:
        host_a:
          ansible_host: 192.168.0.234
          device: rock5
          host_roles: [ dev, watchdog ]
          net_ifs:
            - { if: "wlan0", con: "{{wifi_ssid}}", ip: "192.168.0.123/24", gw: "192.168.0.1", dns: "192.168.0.1" }
          # monitor_stack_disabled: true
          # keep_default_user: true

    # All dev machines
    dev:
      hosts:
        host_a:

    # All new machines for bootstrap
    bootstrap:
      vars:
        # ansible_port: 22
        # ansible_ssh_user: default_user
      hosts:
        host_a: