global:
  scrape_interval: 60s
  scrape_timeout: 10s
  evaluation_interval: 60s

  external_labels:
    environment: {{ ansible_host }}

rule_files:
  - /etc/prometheus/rules/*.rules

scrape_configs:
  - job_name: prometheus
    metrics_path: /metrics
    static_configs:
    - targets:
      - localhost:10211
  - job_name: node
    file_sd_configs:
    - files:
      - /etc/prometheus/file_sd/node.yml
    relabel_configs:
    - source_labels:
      - node_name
      target_label: instance
      action: replace
