services:
  mqtt5:
    image: eclipse-mosquitto
    container_name: mqtt
    user: "{{ docker_service_user_id }}:{{ docker_service_user_id }}"
    ports:
      - "{{ mqtt.port }}:1883"
    volumes:
      - {{ svc_data_dir }}/mqtt/config:/mosquitto/config:rw
      - {{ svc_data_dir }}/mqtt/data:/mosquitto/data:rw
      - {{ svc_data_dir }}/mqtt/log:/mosquitto/log:rw
    restart: unless-stopped